@font-face {
  font-family: 'sunny_spellsregular';
  src: 
       url('./../js/sunnyspellsregular-mv9ze-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'catchy_melodyregular';
  src: url('./../js/catchymelodyregular-owa1o-webfont.woff2') format('woff2'),
       url('./../js/catchymelodyregular-owa1o-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

#canvasHolder {
  visibility: hidden;
}


.users_list_container {
  position: absolute;
  z-index: 3;
  background-color: white;
  width: 170px;
  height: fit-content;
  border-radius: 10px;
  margin-left: 6px;
  margin-top: 15px;
  font-size: 12px;
}

.users_list_title{
  margin-left: 8px;
}

#users {
  margin-top: -8px;
}

body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif;
  }
  
.checkbox_title {
  font-family: "catchy_melodyregular";
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  margin: 10px;
  color: #964f4f;
  text-shadow: 1px 1px 2px #231818;
}

#main_title {
  font-family: 'catchy_melodyregular';
  font-size: 85px;
  color: #e7dd5c;
  position: fixed;
  /* top: 10vh; */
  width: 100%;
  text-align: center;
  z-index: 999;
  justify-self: center;
  align-self: center;
  margin-bottom: 415px;
  text-shadow: 1px 1px 2px #1b1b1b;
  visibility: visible;
}


  #form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
  }

  .labelteam {
    color: white;
  }

  #form1 {
    height: 100vh;
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 2;
    top: 0;
    background-color: #4978cd;
  
    flex-direction: column;


  }

  #myCheck1  {
    height: 30px;
    width: 30px;
    border-radius: 15px;
  }

#myCheck2 {
  height: 30px;
  width: 30px;
}

.play_button {
  font-family: "catchy_melodyregular";
  height: 50px;
  width: 100px;
  background-color: #bdd4ff;
  border-radius: 8px;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: #964f4f;
  margin-top: 15px;
}

.play_button:hover {
  background-color: #e7dd5c;
}


.checkbox_container {
  margin-bottom: 10px;
}

.checkbox_input {
     text-align: center;
    font-family: "Roboto";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

#homepage {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  visibility: visible;
  /* z-index: 0; */
  display: flex;
}

  #username {
    width: 50%;
    text-align: center;
    height: 50px;
    border-radius: 13px;
    border: none;
    max-width: 500px;
    font-family: 'Roboto';
    font-size: 20px;
}
  

  #input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
  }
  #input:focus {
    outline: none;
  }
  #form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
  }

  #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #messages > li {
    padding: 0.5rem 1rem;
  }
  #messages > li:nth-child(odd) {
    background: #efefef;
  }

  #users > li {
    color:green
  }

  #full_container {
   display: none;
  }